**/.circleci
**/.editorconfig
**/.dockerignore
**/.git
**/.DS_Store
**/.vscode
**/node_modules

# Specific patterns to ignore
data-node
meili_data*
librechat*
Dockerfile*
# Exclude docs except user-guide
docs/
!docs/user-guide/

# Ignore all hidden files
.*
